@media (max-width: 1200px) {
    :root { --font-size: 15px; }

    .input-section--form { width: 450px; }

    .status {
        width: 800px;
        height: 130px;
    }

    :is(.status div > h4, .status div > h3) { margin-left: 15px; }

    .status div > h3 { margin-top: 10px; }
}

@media (max-width: 850px) {
    :root { --font-size: 11px; }

    .input-section--form {
        width: 260px;
        height: 30px;
        grid-template-columns: 80% 20%;
    }

    .status {
        width: 260px;
        height: 220px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        top: 35%;
    }

    .status div {
        border-right: none;
        border-bottom: .5px solid var(--Dark-Gray);
    }

    .status div:last-child { border-bottom: none; }

    :is(.status div > h4, .status div > h3) {
        text-align: center;
        margin-left: 0;
        margin-top: 7px;
    }
}
